{{define "title"}}Application{{ end }}

{{define "main"}}

{{template "navbar" ""}}

<div class="container mt-4">
    <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>

    {{ template "project_details" . }}

    <!-- Payments -->
    <h4>Payments</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Currency</th>
                <th>BaseAmount</th>
                <th>Tax (%)</th>
                <th>Total Ammount</th>
                <th>GST No.</th>
                <th>PAN No.</th>
                <th>GST Certificate</th>
                <th>Invoice</th>
                <th>Transaction ID</th>
                <th>Payment Proof</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Payments}}
            {{ if eq .Payment_status 2 }}
            <tr>
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td>
                    <a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a>
                </td>
                <td>
                    <a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a>
                </td>
                <td>{{.Transaction_id}}</td>
                <td>
                    <a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>{{template "payment_status" .}}</td>
                <td></td>
            </tr>
            {{end}}
            {{ if eq .Payment_status 1 }}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank"
                        class="btn btn-primary"><i class="fas fa-download"></i> View</a>
                </td>
                <td>{{.Transaction_id}}
                </td>
                <td> <a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>{{template "payment_status" .}}</td>
                <td></td>
            </tr>
            {{end}}
            {{if eq .Payment_status 0}}
            <tr>
                <form action="/admin/view_application/{{.Sporic_ref_no}}" method="post">
                    <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                    <td>{{.Currency}}</td>
                    <td>{{.Payment_amt}}</td>
                    <td>{{.Tax}}</td>
                    <td>{{.Total_amt}}</td>
                    <td>{{.Gst_number}}</td>
                    <td>{{.Pan_number}}</td>
                    <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                            target="_blank">View</a></td>
                    <td>Invoice not generated yet</td>
                    <td></td>
                    <td></td>
                    <td>{{template "payment_status" .}}</td>
                    <td>
                        <input type="hidden" name="action" value="invoice_forwared" />
                        <button class="btn btn-info">Forward Invoice</button>
                    </td>
                </form>
            </tr>
            {{end}}
            {{if eq .Payment_status 3}}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a>
                </td>
                <td>{{.Transaction_id}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>{{template "payment_status" .}}</td>
                <td></td>
            </tr>
            {{end}}
            {{if eq .Payment_status 4}}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td>Invoice not generated yet</td>
                <td></td>
                <td></td>
                <td>{{template "payment_status" .}}</td>
                <td></td>
            </tr>
            {{end}}
            {{if eq .Payment_status 5}}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a>
                </td>
                <td>{{.Transaction_id}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>{{template "payment_status" .}}</td>
                <td></td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

    <!-- Expenditures -->
    <h4>Expenditures</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Purpose</th>
                <th>Expenditure Type</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Document</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Expenditures}}
            <tr>
                <td>{{.Expenditure_name}}</td>
                <td>{{if eq .Expenditure_type 0}}Claim{{else}}Invoice{{end}}</td>
                <td>{{.Expenditure_amt}}</td>
                <td>{{.Expenditure_date.Format "Monday, 02-Jan-06"}}</td>
                <td>{{if eq .Expenditure_type 0}}<a
                        href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_proof"
                        target="_blank">View</a>{{else}}<a
                        href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_invoice"
                        target="_blank">View</a>{{end}}</td>
                </td>
                <td>
                    {{if eq .Expenditure_status 0}}<span class="badge bg-warning">Pending Approval</span>{{ end }}
                    {{if eq .Expenditure_status 1}}<span class="badge bg-success">Approved</span>{{ end }}
                    {{if eq .Expenditure_status 2}}<span class="badge bg-danger">Rejected</span>{{ end }}
                </td>
                <td>
                    {{ if eq .Expenditure_status 0 }}
                    <div style="display: flex; gap: 10px;">
                        <form action="/admin/view_application/{{.SporicRefNo}}" method="post" style="display: inline;">
                            <input type="hidden" name="action" value="approve_expenditure" />
                            <input type="hidden" name="expenditure_id" value="{{.Expenditure_id}}" />
                            <button class="btn btn-success">Approve</button>
                        </form>
                        <form action="/admin/view_application/{{.SporicRefNo}}" method="post" style="display: inline;">
                            <input type="hidden" name="action" value="reject_expenditure" />
                            <input type="hidden" name="expenditure_id" value="{{.Expenditure_id}}" />
                            <button class="btn btn-danger">Reject</button>
                        </form>
                    </div>
                    {{end}}
                </td>

            </tr>
            {{end}}
        </tbody>
    </table>

    {{ if eq .Application.Status 0 }}
    <table>
        <tr>
            <td>
                <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
                    <input type="hidden" name="action" value="approve_application" />
                    <button class="btn btn-success">Approve Application</button>
                </form>
            </td>
            <td>
                <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
                    <input type="hidden" name="action" value="reject_application" />
                    <button class="btn btn-danger">Reject Application</button>
                </form>
            </td>
        </tr>
    </table>


    {{ end }}

    {{ if eq .Application.Status 3 }}
    <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
        <input type="hidden" name="action" value="approve_completion" />
        <button class="btn btn-success">Approve Completion</button>
    </form>
    {{ end }}

    {{ if or (eq .Application.Status 3) (eq .Application.Status 2)}}
    <h4>Summary</h4>
    <!-- Financial Summary Section -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>Financial Overview</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Total Amount (incl. taxes)</th>
                        <td>{{.Application.TotalAmount}}</td>
                    </tr>
                    <tr>
                        <th>Taxes</th>
                        <td>{{.Application.Taxes}}</td>
                    </tr>
                    <tr>
                        <th>Total Expenditure</th>
                        <td>{{.Application.TotalExpenditure}}</td>
                    </tr>
                    <tr>
                        <th>Balance Amount</th>
                        <td>{{.Application.BalanceAmount}}</td>
                    </tr>
                    <tr>
                        <th>VIT Resources Used</th>
                        <td class="text-end">
                            {{if eq .Application.ResourceUsed 0}}
                            Yes
                            {{else}}
                            No
                            {{end}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Team Share Section -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>Team Share Breakdown</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Share (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.Application.Leader}}</td>
                        <td>{{.Application.LeaderShare}}%</td>
                    </tr>
                    {{range .Member}}
                    <tr>
                        <td>{{.Member}}</td>
                        <td>{{.Share}}%</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{end}}

    <div style="height: 100px;"></div>
</div>
{{ end }}