{{define "title"}}Faculty Home{{ end }}

{{define "main"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SpoRIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/faculty_home">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin-login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>

    <div class="row mb-4">
        <!-- Project Details Section -->
        <div class="col-md-6">
            <h4>Project Details</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Ref No.</th>
                        <td>{{.Application.SporicRefNo}}</td>
                    </tr>
                    <tr>
                        <th>Faculty Name</th>
                        <td>{{.User.Username}}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{.User.Designation}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{.User.Email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No.</th>
                        <td>{{.User.MobileNumber}}</td>
                    </tr>
                    <tr>
                        <th>School</th>
                        <td>{{.User.School}}</td>
                    </tr>
                    <tr>
                        <th>Project Status</th>

                        <td>
                            {{if eq .Application.Status 3}}<span class="badge bg-warning">Completed Approval
                                Pending</span>{{end}}
                            {{if eq .Application.Status 2}}<span class="badge bg-success">Completed</span>{{end}}
                            {{if eq .Application.Status 1}}<span class="badge bg-success">Application
                                Approved</span>{{end}}
                            {{if eq .Application.Status 0}}<span class="badge bg-warning">Application Approval
                                Pending</span>{{end}}
                        </td>
                    </tr>
                    <tr>
                        <th>Exstimated Cost</th>
                        <td>
                            {{.Application.EstimatedAmt}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Company Details Section -->
        <div class="col-md-6">
            <h4>Company Details</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Company Name</th>
                        <td>{{.Application.CompanyName}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{.Application.CompanyAddress}}</td>
                    </tr>
                    <tr>
                        <th>Contact Person</th>
                        <td>{{.Application.ContactPersonName}}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{.Application.ContactPersonDesignation}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{.Application.ContactPersonEmail}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No.</th>
                        <td>{{.Application.ContactPersonMobile}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Payments -->
    <h4>Payments</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Amount</th>
                <th>GST No.</th>
                <th>PAN No.</th>
                <th>GST Certificate</th>
                <th>Invoice</th>
                <th>Transaction ID</th>
                <th>Payment Proof</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Payments}}
            {{ if eq .Payment_status 2 }}
            <tr>
                <td>{{.Payment_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a></td>
                <td>{{.}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a></td>
                <td>
                    <span class="badge bg-success">Approve</span>
                </td>
            </tr>
            {{end}}
            {{ if eq .Payment_status 1 }}
            <tr>
                <td>{{.Payment_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="#" target="_blank">View</a></td>
                <td><a href="#" target="_blank">View</a></td>
                <td>
                    <input type="text" class="form-control" placeholder="Transaction ID" />
                </td>
                <td>
                    <input type="file" class="form-control" placeholder="Payment Proof" />
                </td>
                <td>
                    <span class="badge bg-warning">Payment Pending</span>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{if eq .Payment_status 0}}
            <tr>
                <form action="/admin/view_application/{{.Sporic_ref_no}}" method="post">
                    <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                    <td>{{.Payment_amt}}</td>
                    <td>{{.Gst_number}}</td>
                    <td>{{.Pan_number}}</td>
                    <td><a href="#" target="_blank">View</a></td>
                    <td>Invoice not generated yet</td>
                    <td></td>
                    <td></td>
                    <td><span class="badge bg-info">Invoice Requested</span></td>
                    <td>
                        <input type="hidden" name="action" value="invoice_forwared" />
                        <button class="btn btn-info">Forward Invoice</button>
                    </td>
                </form>
            </tr>
            {{end}}
            {{if eq .Payment_status 3}}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Payment_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="#" target="_blank">View</a></td>
                <td>Invoice not generated yet</td>
                <td></td>
                <td></td>
                <td><span class="badge bg-danger">Rejected</span></td>
                <td></td>
            </tr>
            {{end}}
            {{if eq .Payment_status 4}}
            <tr>
                <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
                <td>{{.Payment_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="#" target="_blank">View</a></td>
                <td>Invoice not generated yet</td>
                <td></td>
                <td></td>
                <td><span class="badge bg-primary">Invoice Forwarded</span></td>
                <td></td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

    <!-- Expenditures -->
    <h4>Expenditures</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Proof Document</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Expenditures}}
            <tr>
                <td>{{.Expenditure_name}}</td>
                <td>{{.Expenditure_amt}}</td>
                <td>{{.Expenditure_date.Format "Monday, 02-Jan-06"}}</td>
                <td><a href="#" target="_blank">View</a></td>
                <td>
                    {{if eq .Expenditure_status 0}}<span class="badge bg-warning">Pending Approval</span>{{ end }}
                    {{if eq .Expenditure_status 1}}<span class="badge bg-success">Approved</span>{{ end }}
                    {{if eq .Expenditure_status 2}}<span class="badge bg-danger">Rejected</span>{{ end }}
                </td>
                <td>
                    <div style="display: flex; gap: 10px;">
                        <form action="/admin/view_application/{{.SporicRefNo}}" method="post" style="display: inline;">
                            <input type="hidden" name="action" value="approve_expenditure" />
                            <button class="btn btn-success">Approve</button>
                        </form>
                        <form action="/admin/view_application/{{.SporicRefNo}}" method="post" style="display: inline;">
                            <input type="hidden" name="action" value="reject_expenditure" />
                            <button class="btn btn-danger">Reject</button>
                        </form>
                    </div>
                </td>

            </tr>
            {{end}}
        </tbody>
    </table>

    {{ if eq .Application.Status 0 }}
    <table>
        <tr>
            <td>
                <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
                    <input type="hidden" name="action" value="approve_application" />
                    <button class="btn btn-success">Approve Application</button>
                </form>
            </td>
            <td>
                <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post"></form>
                <input type="hidden" name="action" value="reject_application" />
                <button class="btn btn-danger">Reject Application</button>
                </form>
            </td>
        </tr>
    </table>


    {{ end }}

    {{ if eq .Application.Status 3 }}
    <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
        <input type="hidden" name="action" value="approve_completion" />
        <button class="btn btn-success">Approve Completion</button>
    </form>
    {{ end }}

    <div style="height: 100px;"></div>
</div>
{{ end }}