{{define "title"}}Faculty Home{{ end }}

{{define "main"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SpoRIC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/faculty_home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin-login.html">Logout</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container mt-4">
  <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>

  <div class="row mb-4">
    <!-- Project Details Section -->
    <div class="col-md-6">
      <h4>Project Details</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Ref No.</th>
            <td>{{.Application.SporicRefNo}}</td>
          </tr>
          <tr>
            <th>Project Title</th>
            <td>{{.Application.ProjectTitle}}</td>
          </tr>
          <tr>
            <th>Faculty Name</th>
            <td>{{.User.Username}}</td>
          </tr>
          <tr>
            <th>Designation</th>
            <td>{{.User.Designation}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{.User.Email}}</td>
          </tr>
          <tr>
            <th>Mobile No.</th>
            <td>{{.User.MobileNumber}}</td>
          </tr>
          <tr>
            <th>School</th>
            <td>{{.User.School}}</td>
          </tr>
          <tr>
            <th>Exstimated Cost</th>
            <td>
              {{.Application.EstimatedAmt}}
            </td>
          </tr>
          <tr>
            <th>Proposal</th>
            <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/proposal"
                target=" _blank">View</a></td>
          </tr>
          {{ if or (eq .Application.Status 2) (eq .Application.Status 3) }}
          <tr>
            <th>Closure Document</th>
            <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/completion_form"
                target=" _blank">View</a></td>
          </tr>
          <tr>
            <th>VIT resources used</th>
            <td>{{if eq .Application.ResourceUsed 1}}No{{else}}Yes{{end}}</td>
          </tr>
          {{ end }}
          <tr>
            <th>Project Status</th>

            <td>
              {{if eq .Application.Status 3}}<span class="badge bg-warning">Completed Approval
                Pending</span>{{end}}
              {{if eq .Application.Status 2}}<span class="badge bg-success">Completed</span>{{end}}
              {{if eq .Application.Status 1}}<span class="badge bg-success">Application
                Approved</span>{{end}}
              {{if eq .Application.Status 0}}<span class="badge bg-warning">Application Approval
                Pending</span>{{end}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Company Details Section -->
    <div class="col-md-6">
      <h4>Company Details</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Company Name</th>
            <td>{{.Application.CompanyName}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{.Application.CompanyAddress}}</td>
          </tr>
          <tr>
            <th>Billing Address</th>
            <td>{{.Application.BillingAddress}}</td>
          </tr>
          <tr>
            <th>Contact Person</th>
            <td>{{.Application.ContactPersonName}}</td>
          </tr>
          <tr>
            <th>Designation</th>
            <td>{{.Application.ContactPersonDesignation}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{.Application.ContactPersonEmail}}</td>
          </tr>
          <tr>
            <th>Mobile No.</th>
            <td>{{.Application.ContactPersonMobile}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Team Members -->
    <div class="col-md-6">
      <h4>Team Members</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .Application.Members}}
          <tr>
            <td>{{.}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Payments -->
  <h4>Payments</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Amount</th>
        <th>Tax</th>
        <th>GST No.</th>
        <th>PAN No.</th>
        <th>GST Certificate</th>
        <th>Invoice</th>
        <th>Transaction ID</th>
        <th>Payment Proof</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range.Application.Payments }}
      {{ if eq .Payment_status 2 }}
      <tr>
        <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
        <td>{{.Currency}}</td>
        <td>{{.Payment_amt}}</td>
        <td>{{.Tax}}</td>
        <td>{{.Gst_number}}</td>
        <td>{{.Pan_number}}</td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a>
        </td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a></td>
        <td>{{.Transaction_id}}</td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a></td>
        <td>
          <span class="badge bg-success">Approved</span>
        </td>
      </tr>
      {{ end }}
      {{ if eq .Payment_status 3 }}
      <tr>
        <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
        <td>{{.Currency}}</td>
        <td>{{.Payment_amt}}</td>
        <td>{{.Tax}}</td>
        <td>{{.Gst_number}}</td>
        <td>{{.Pan_number}}</td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a>
        </td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a></td>
        <td>{{.Transaction_id}}</td>
        <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a></td>
        <td>
          <span class="badge bg-danger">Rejected</span>
        </td>
      </tr>
      {{ end }}
      {{ if eq .Payment_status 1 }}
      <tr>
        <form action="/faculty/view_application/{{$.Application.SporicRefNo}}" method="post" ,
          enctype="multipart/form-data">
          <input type="hidden" name="action" value="update_payment" />
          <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
          <td>{{.Currency}}</td>
          <td>{{.Payment_amt}}</td>
          <td>{{.Tax}}</td>
          <td>{{.Gst_number}}</td>
          <td>{{.Pan_number}}</td>
          <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a>
          </td>
          <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a></td>
          <td>
            {{if eq .Transaction_id ""}}
            <input type="text" class="form-control" name="transaction_id" placeholder="Transaction ID" />
            {{end}}
            {{if ne .Transaction_id ""}}
            {{.Transaction_id}}
            {{end}}
          </td>
          <td>
            {{if eq .Transaction_id ""}}
            <input type="file" class="form-control" placeholder="Payment Proof" name="payment_proof" accept=".pdf"
              required />
            {{end}}
            {{if ne .Transaction_id ""}}
            <a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
            {{end}}
          </td>
          <td>
            {{if eq .Transaction_id ""}}
            <button class="btn btn-primary">Confirm</button>
            {{end}}
          </td>
        </form>
      </tr>
      {{ end }}
      {{ if eq .Payment_status 0 }}
      <tr>
        <form action="/faculty_view_application" method="post">
          <input type="hidden" name="action" value="confirm_payment" />
          <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
          <td>{{.Currency}}</td>
          <td>{{.Payment_amt}}</td>
          <td>{{.Tax}}</td>
          <td>{{.Gst_number}}</td>
          <td>{{.Pan_number}}</td>
          <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a>
          </td>
          <td>Invoice not generated yet</td>
          <td></td>
          <td></td>
          <td><span class="badge bg-info">Invoice Requested</span></td>
        </form>
      </tr>
      {{ end }}
      {{ if eq .Payment_status 4 }}
      <tr>
        <form action="/faculty_view_application" method="post">
          <input type="hidden" name="action" value="confirm_payment" />
          <input type="hidden" name="payment_id" value="{{.Payment_id}}" />
          <td>{{.Currency}}</td>
          <td>{{.Payment_amt}}</td>
          <td>{{.Tax}}</td>
          <td>{{.Gst_number}}</td>
          <td>{{.Pan_number}}</td>
          <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate" target="_blank">View</a>
          </td>
          <td>Invoice not generated yet</td>
          <td></td>
          <td></td>
          <td><span class="badge bg-primary">Request Forwarded</span></td>
        </form>
      </tr>
      {{ end }}
      {{ end }}
    </tbody>
  </table>

  <!-- Expenditures -->
  <h4>Expenditures</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Purpose</th>
        <th>Expenditure Type</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Document</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range.Application.Expenditures }}
      <tr>
        <td>{{.Expenditure_name}}</td>
        <td>{{if eq .Expenditure_type 0}}Claim{{else}}Invoice{{end}}</td>
        <td>{{.Expenditure_amt}}</td>
        <td>{{.Expenditure_date.Format "Monday, 02-Jan-06"}}</td>
        <td>{{if eq .Expenditure_type 0}}<a
            href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_proof"
            target="_blank">View</a>{{else}}<a
            href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_invoice"
            target="_blank">View</a>{{end}}</td>
        <td>
          {{ if eq .Expenditure_status 0 }}<span class="badge bg-warning">Pending Approval</span>{{ end }}
          {{ if eq .Expenditure_status 1 }}<span class="badge bg-success">Approved</span>{{ end }}
          {{ if eq .Expenditure_status 2 }}<span class="badge bg-danger">Rejected</span>{{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>


  <div class="row">
    <!-- Request Invoice Form -->
    <div class="col-md-6">
      {{if eq .Application.Status 1}}
      <h4>Request Invoice</h4>
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="request_invoice" />
        <input type="hidden" name="sporic_ref_no" value="{{.Application.SporicRefNo}}" />
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="currency" class="form-label">Currency</label>
              <select class="form-select" id="currency" name="currency" required>
                <option value="INR">INR</option>
                <option value="USD">USD</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount Excluding Tax</label>
              <input type="text" class="form-control" id="amount" name="payment_amt" required />
            </div>
            <div class="mb-3">
              <label for="tax" class="form-label">Tax</label>
              <input type="text" class="form-control" id="tax" name="tax" required />
            </div>
            <div class="mb-3">
              <label for="gst" class="form-label">GST No.</label>
              <input type="text" class="form-control" id="gst" name="gst_number" />
            </div>
            <div class="mb-3">
              <label for="pan" class="form-label">PAN No.</label>
              <input type="text" class="form-control" id="pan" name="pan_number" />
            </div>
            <div class="mb-3">
              <label for="gst_certificate" class="form-label">GST Certificate</label>
              <input type="file" class="form-control" id="gst_certificate" name="tax_certificate" />
            </div>
            <button type="submit" class="btn btn-primary">
              Request Invoice
            </button>
          </div>
        </div>
      </form>
      {{end}}
    </div>

    <!-- Expenditure Form -->
    <div class="col-md-6">
      {{if eq .Application.Status 1}}
      <h4>Add Expenditure</h4>
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="add_expenditure" />
        <input type="hidden" name="sporic_ref_no" value="{{.Application.SporicRefNo}}" />
        <div class="mb-3">
          <label for="expenditureName" class="form-label">Purpose</label>
          <input type="text" class="form-control" id="expenditureName" name="expenditure_name" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Expenditure Type</label>
          <div>
            <input type="radio" id="claim" name="expenditure_type" value="0" onclick="updateProofLabel()" required
              checked />
            <label for="claim">Claim (Request for Reimbursement)</label>
          </div>
          <div>
            <input type="radio" id="invoice" name="expenditure_type" value="1" onclick="updateProofLabel()" required />
            <label for="invoice">Invoice (To Be Paid by Accounts)</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="expenditureCost" class="form-label">Cost</label>
          <input type="text" class="form-control" id="expenditureCost" name="expenditure_amt" required />
        </div>
        <div class="mb-3">
          <label for="expenditureProof" id="proofLabel" class="form-label">Proof of Expense (e.g., Receipt)</label>
          <input type="file" class="form-control" id="expenditureProof" name="expenditure_proof" accept=".pdf"
            required />
        </div>
        <button type="submit" class="btn btn-primary">Add Expenditure</button>
      </form>
      {{end}}
    </div>
  </div>

  <!-- Complete Project form -->
  <div class="row mt-4">
    <div class="col-md-6">
      {{if eq .Application.Status 1}}
      <h4>Complete Project</h4>
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="complete_project" />
        <input type="hidden" name="sporic_ref_no" value="{{.Application.SporicRefNo}}" />
        <div class="mb-3">
          <label for="collegeResources" class="form-label">College Resources Used</label>
          <select class="form-select" id="collegeResources" name="college_resources" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <div class="mb-3">
            <label for="comments" class="form-label">Comments</label>
            <textarea class="form-control" id="comments" name="comments" required></textarea>
          </div>
          <div class="mb-3">
            <label for="projectClosureReport" class="form-label">Project Closure Report</label>
            <input type="file" class="form-control" id="projectClosureReport" name="project_closure_report" required />
          </div>
          <button type="submit" class="btn btn-primary">Complete Project</button>
      </form>
      {{end}}
    </div>
  </div>

  <!-- Script for expenditure form -->
  <script>
    function updateProofLabel() {
      const claimRadio = document.getElementById('claim');
      const proofLabel = document.getElementById('proofLabel');

      if (claimRadio.checked) {
        proofLabel.textContent = 'Proof of Expense (e.g., Receipt)';
      } else {
        proofLabel.textContent = 'Invoice Document';
      }
    }
  </script>

</div>
{{ end }}