{{define "title"}}View Application{{ end }}

{{define "main"}}

{{template "navbar" "home"}}

<div class="container mt-4">
    <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>

    {{ template "project_details" . }}

    <!-- Payments -->
    <h4>Payments</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Base ammount</th>
                <th>Tax(%)</th>
                <th>Total Amount</th>
                <th>GST No.</th>
                <th>PAN No.</th>
                <th>GST Certificate</th>
                <th>Invoice</th>
                <th>Transaction ID</th>
                <th>Payment Proof</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Payments}}
            {{ if eq .Payment_status 2 }}
            <tr>
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Total_amt}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a>
                </td>
                <td>{{.Transaction_id}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>
                    <span class="badge bg-success">Approved</span>
                </td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

    <!-- Expenditures -->
    <h4>Expenditures</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Purpose</th>
                <th>Expenditure Type</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Document</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Expenditures}}
            <tr>
                <td>{{.Expenditure_name}}</td>
                <td>{{if eq .Expenditure_type 0}}Claim{{else}}Invoice{{end}}</td>
                <td>{{.Expenditure_amt}}</td>
                <td>{{.Expenditure_date.Format "Monday, 02-Jan-06"}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_proof"
                        target="_blank">View</a></td>
                <td>
                    {{if eq .Expenditure_status 1}}<span class="badge bg-success">Approved</span>{{ end }}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>

    {{template "project_summary" .Application}}

</div>
{{ end }}