{{define "title"}}View Application{{ end }}

{{define "main"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SpoRIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/faculty_home">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin-login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>

    <div class="row mb-4">
        <!-- Project Details Section -->
        <div class="col-md-6">
            <h4>Project Details</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Ref No.</th>
                        <td>{{.Application.SporicRefNo}}</td>
                    </tr>
                    <tr>
                        <th>Project Title</th>
                        <td>{{.Application.ProjectTitle}}</td>
                    </tr>
                    <tr>
                        <th>Faculty Name</th>
                        <td>{{.User.Username}}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{.User.Designation}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{.User.Email}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No.</th>
                        <td>{{.User.MobileNumber}}</td>
                    </tr>
                    <tr>
                        <th>School</th>
                        <td>{{.User.School}}</td>
                    </tr>
                    <tr>
                        <th>Exstimated Cost</th>
                        <td>
                            {{.Application.EstimatedAmt}}
                        </td>
                    </tr>
                    <tr>
                        <th>Proposal</th>
                        <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/proposal"
                                target=" _blank">View</a></td>
                    </tr>
                    {{ if or (eq .Application.Status 2) (eq .Application.Status 3) }}
                    <tr>
                        <th>Closure Document</th>
                        <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/completion_form"
                                target=" _blank">View</a></td>
                    </tr>
                    <tr>
                        <th>VIT resources used</th>
                        <td>{{if eq .Application.ResourceUsed 1}}No{{else}}Yes{{end}}</td>
                    </tr>
                    {{ end }}
                    <tr>
                        <th>Project Status</th>
                        <td>{{if eq .Application.Status 3}}<span class="badge bg-warning">Completed Approval
                                Pending</span>{{end}}
                            {{if eq .Application.Status 2}}<span class="badge bg-success">Completed</span>{{end}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Company Details Section -->
        <div class="col-md-6">
            <h4>Company Details</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Company Name</th>
                        <td>{{.Application.CompanyName}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{.Application.CompanyAddress}}</td>
                    </tr>
                    <tr>
                        <th>Billing Address</th>
                        <td>{{.Application.BillingAddress}}</td>
                    </tr>
                    <tr>
                        <th>Contact Person</th>
                        <td>{{.Application.ContactPersonName}}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{.Application.ContactPersonDesignation}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{.Application.ContactPersonEmail}}</td>
                    </tr>
                    <tr>
                        <th>Mobile No.</th>
                        <td>{{.Application.ContactPersonMobile}}</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <!-- Team Members -->
        <div class="col-md-6">
            <h4>Team Members</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Application.Members}}
                    <tr>
                        <td>{{.}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <!-- Student Members -->
        <div class="col-md-6">
            <h4>Student Members</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Application.MemberStudents}}
                    <tr>
                        <td>{{.Name}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Payments -->
    <h4>Payments</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Amount</th>
                <th>Tax</th>
                <th>GST No.</th>
                <th>PAN No.</th>
                <th>GST Certificate</th>
                <th>Invoice</th>
                <th>Transaction ID</th>
                <th>Payment Proof</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Payments}}
            {{ if eq .Payment_status 2 }}
            <tr>
                <td>{{.Currency}}</td>
                <td>{{.Payment_amt}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Gst_number}}</td>
                <td>{{.Pan_number}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/tax_cirtificate"
                        target="_blank">View</a></td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/invoice" target="_blank">View</a>
                </td>
                <td>{{.Transaction_id}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Payment_id}}/payment" target="_blank">View</a>
                </td>
                <td>
                    <span class="badge bg-success">Approved</span>
                </td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>

    <!-- Expenditures -->
    <h4>Expenditures</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Purpose</th>
                <th>Expenditure Type</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Document</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{range.Application.Expenditures}}
            <tr>
                <td>{{.Expenditure_name}}</td>
                <td>{{if eq .Expenditure_type 0}}Claim{{else}}Invoice{{end}}</td>
                <td>{{.Expenditure_amt}}</td>
                <td>{{.Expenditure_date.Format "Monday, 02-Jan-06"}}</td>
                <td><a href="/download/{{$.Application.SporicRefNo}}/{{.Expenditure_id}}/expenditure_proof"
                        target="_blank">View</a></td>
                <td>
                    {{if eq .Expenditure_status 1}}<span class="badge bg-success">Approved</span>{{ end }}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>

</div>
{{ end }}