{{define "title"}}Application{{ end }}

{{define "main"}}

{{template "navbar" ""}}

<div class="container mt-4">
    <h2 class="mb-4">View Record - {{.Application.SporicRefNo}}</h2>
    {{ template "project_summary" . }}

    {{ if eq .Application.Status 2 }}
    <form action="/admin/view_application/{{.Application.SporicRefNo}}" method="post">
        <input type="hidden" name="action" value="approve_completion" />
        <button class="btn btn-success">Approve Completion</button>
    </form>
    {{ end }}

</div>
{{end}}