{{define "title"}}Home{{ end }}

{{define "main"}}

{{template "navbar" "home"}}

<div class="container mt-4">

    <!-- Pending Approval Projects -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Pending Approval Projects</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SpoRIC ID</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Applications}}
                        {{if eq .Status 2}}
                        <!-- Assuming Status 0 is Pending Approval -->
                        <tr>
                            <td>{{.SporicRefNo}}</td>
                            <td>{{.CompanyName}}</td>
                            <td>Pending Approval</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                    href="/provc/view_application/{{.SporicRefNo}}">View</a>
                            </td>
                        </tr>
                        {{
                        end
                        }}
                        {{
                        end
                        }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Approved Projects -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Approved Projects</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SpoRIC ID</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{
                        range.Applications
                        }}
                        {{if eq .Status 4}}
                        <tr>
                            <td>{{.SporicRefNo}}</td>
                            <td>{{.CompanyName}}</td>
                            <td>Approved</td>
                            <td>
                                <a class="btn btn-sm btn-primary"
                                    href="/admin/view_application/{{.SporicRefNo}}">View</a>
                            </td>
                        </tr>
                        {{
                        end
                        }}
                        {{
                        end
                        }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}