{{define "navbar"}}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">SpoRIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class='nav-link {{if eq . "home" }}active{{end}}' href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link {{if eq . "notifications" }}active{{end}}'
                        href="/notifications">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link {{if eq . "profile" }}active{{end}}' href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                        <input class="nav-link" type="submit" value="Logout" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}

{{define "project_details"}}
<div class="row mb-4">
    <!-- Project Details Section -->
    <div class="col-md-6">
        <h4>Project Details</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Ref No.</th>
                    <td>{{.Application.SporicRefNo}}</td>
                </tr>
                <tr>
                    <th>Project Title</th>
                    <td>{{.Application.ProjectTitle}}</td>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>{{.Application.StartDate.Format "02-Jan-06"}}</td>
                </tr>
                <tr>
                    <th>End Date</th>
                    <td>{{.Application.EndDate.Format "02-Jan-06"}}</td>
                </tr>
                <tr>
                    <th>Faculty Name</th>
                    <td>{{.User.Username}}</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>{{.User.Designation}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{.User.Email}}</td>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td>{{.User.MobileNumber}}</td>
                </tr>
                <tr>
                    <th>School</th>
                    <td>{{.User.School}}</td>
                </tr>
                <tr>
                    <th>Exstimated Cost</th>
                    <td>
                        {{.Application.EstimatedAmt}}
                    </td>
                </tr>
                <tr>
                    <th>Proposal</th>
                    <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/proposal"
                            target=" _blank">View</a></td>
                </tr>
                {{ if or (eq .Application.Status 2) (eq .Application.Status 3) }}
                <tr>
                    <th>Closure Document</th>
                    <td><a href="/download/{{.Application.SporicRefNo}}/{{.Application.SporicRefNo}}/completion_form"
                            target=" _blank">View</a></td>
                </tr>
                <tr>
                    <th>VIT resources used</th>
                    <td>{{if eq .Application.ResourceUsed 1}}No{{else}}Yes{{end}}</td>
                </tr>
                {{ end }}
                <tr>
                    <th>Project Status</th>

                    <td>
                        {{if eq .Application.Status 3}}<span class="badge bg-warning">Completed Approval
                            Pending</span>{{end}}
                        {{if eq .Application.Status 2}}<span class="badge bg-success">ProVC Approval
                            Pending</span>{{end}}
                        {{if eq .Application.Status 1}}<span class="badge bg-success">Application
                            Approved</span>{{end}}
                        {{if eq .Application.Status 0}}<span class="badge bg-warning">Application Approval
                            Pending</span>{{end}}
                        {{if eq .Application.Status 4}}<span class="badge bg-danger">Completed</span>{{end}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Company Details Section -->
    <div class="col-md-6">
        <h4>Company Details</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Company Name</th>
                    <td>{{.Application.CompanyName}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{.Application.CompanyAddress}}</td>
                </tr>
                <tr>
                    <th>Billing Address</th>
                    <td>{{.Application.BillingAddress}}</td>
                </tr>
                <tr>
                    <th>Contact Person</th>
                    <td>{{.Application.ContactPersonName}}</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>{{.Application.ContactPersonDesignation}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{.Application.ContactPersonEmail}}</td>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td>{{.Application.ContactPersonMobile}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Team Members -->
    <div class="col-md-6">
        <h4>Team Members</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {{range .Application.Members}}
                <tr>
                    <td>{{.}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <!-- Student Members -->
    <div class="col-md-6">
        <h4>Student Members</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {{range .Application.MemberStudents}}
                <tr>
                    <td>{{.}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "payment_status"}}

{{if eq .Payment_status 0 }}
<span class="badge bg-primary">Invoice Requested</span>
{{else if eq .Payment_status 1 }}
<span class="badge bg-warning">Payment Pending</span>
{{else if eq .Payment_status 2 }}
<span class="badge bg-success">Payment Completed</span>
{{else if eq .Payment_status 3 }}
<span class="badge bg-danger">Payment Rejected</span>
{{else if eq .Payment_status 4 }}
<span class="badge bg-primary">Invoice Forwarded</span>
{{else if eq .Payment_status 5 }}
<span class="badge bg-primary">Proof Uploaded</span>
{{end}}

{{end}}

{{define "project_summary"}}
<h4>Summary</h4>
<div class="card mb-4">
    <div class="card-header">
        <h5>Project Overview</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Sporic Reference No.</th>
                    <td>{{.Application.SporicRefNo}}</td>
                </tr>
                <tr>
                    <th>Project Title</th>
                    <td>{{.Application.ProjectTitle}}</td>
                </tr>
                <tr>
                    <th>Company Name</th>
                    <td>{{.Application.CompanyName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Financial Summary Section -->
<div class="card mb-4">
    <div class="card-header">
        <h5>Financial Overview</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Base Ammount</th>
                    <td>{{.Application.TotalAmount}}</td>
                </tr>
                <tr>
                    <th>Taxes</th>
                    <td>{{.Application.Taxes}}</td>
                </tr>
                <tr>
                    <th>Total Amount</th>
                    <td>{{.Application.TotalAmountIncludeTax}}</td>
                </tr>
                <tr>
                    <th>Total Expenditure</th>
                    <td>{{.Application.TotalExpenditure}}</td>
                </tr>
                <tr>
                    <th>Balance Amount</th>
                    <td>{{.Application.BalanceAmount}}</td>
                </tr>
                <tr>
                    <th>VIT Resources Used</th>
                    <td class="text-end">
                        {{if eq .Application.ResourceUsed 0}}
                        Yes
                        {{else}}
                        No
                        {{end}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Team Share Section -->
<div class="card mb-4">
    <div class="card-header">
        <h5>Team Share Breakdown</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Share (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.Application.Leader}}</td>
                    <td>{{.Application.LeaderShare}}%</td>
                </tr>
                {{range .Member}}
                <tr>
                    <td>{{.Member}}</td>
                    <td>{{.Share}}%</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}