{{define "subject"}}Example Subject{{end}}

{{define "plainBody"}}
Example Body in plain text
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Example Body in html</h1>
</body>

</html>
{{end}}