{{define "subject"}}SpoRIC Update{{end}}

{{define "plainBody"}}
{{.Description}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>{{.Description}}</h1>
    <a href="localhost:8080/home">Click here to proceed</a>
</body>

</html>
{{end}}